@use './normalize';
@use './common';
@use './mixins-lib';
@use './variables';

.btn_start {
  &.orange_0 {
    overflow: hidden;
    position: relative;
    @include mixins-lib.rfonts(20, 28, 600);
    height: 52px;
    border-radius: 8px;
    border: 0;
    isolation: isolate;

    &::before,
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      opacity: 0;
    }

    &::before {
      background: linear-gradient(180deg, #ff9754 0%, #f96767 100%);
    }

    &::after {
      background: linear-gradient(180deg, #84b5ff 0%, #855cf9 100%);
    }

    .bg {
      &::before,
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        opacity: 0;
        z-index: 1;
      }

      &::before {
        background: linear-gradient(180deg, #8decec 0%, #3c9af1 100%);
      }

      &::after {
        background: linear-gradient(180deg, #fc94d8 0%, #f44954 100%);
      }
    }

    &:hover {
      background-color: var(--orange-0);
      animation: btn-bg 10s linear infinite 1.5s;

      &::before {
        animation: gradient1 10s linear infinite;
      }

      &::after {
        animation: gradient2 10s linear infinite;
      }

      .bg::before {
        animation: gradient3 10s linear infinite 5s;
      }

      .bg::after {
        animation: gradient4 10s linear infinite 5s;
      }
    }

    .icon {
      width: 24px;
      height: 24px;
      margin-left: 0;
      z-index: 1;
    }

    .text {
      z-index: 1;
    }
  }
}

.top_banner {
  border-bottom: 1px solid var(--gray-400);

  &_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;

    @include mixins-lib.tabletStart() {
      flex-direction: column;
      justify-content: center;
      padding: 0 32px;
    }

    @include mixins-lib.mobileStart() {
      padding: 0 16px;
    }
  }

  .title_group {
    color: var(--gray-800);

    @include mixins-lib.tabletStart() {
      order: 2;
      max-width: none;
      width: 100%;
    }

    .title {
      @include mixins-lib.rfonts(56, 64, 600);

      @include mixins-lib.tabletStart() {
        @include mixins-lib.rfonts(30, 38);
      }
    }

    .desc {
      margin-top: 32px;
      @include mixins-lib.rfonts(16, 24, 500);

      @include mixins-lib.tabletStart() {
        @include mixins-lib.rfonts(14, 22);
      }
    }

    .btn_box {
      margin-top: 32px;

      .btn {
        @include mixins-lib.tabletStart() {
          width: 100%;
        }
      }

      .icon {
        path {
          fill: var(--gray-000);
        }
      }

      .text {
        color: var(--gray-000);
      }
    }
  }

  .img_box {
    @include mixins-lib.tabletStart() {
      order: 1;
    }

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.codeblock_header {
  padding: 6px variables.$spacing_8;

  .box_left {
    flex-direction: row;

    @include mixins-lib.tabletStart() {
      flex-direction: row;
    }
  }

  .btn_item {
    display: inline-flex;
    align-items: center;
    height: 36px;
    padding: 0 variables.$spacing_16;
    border-radius: 8px;
    @include mixins-lib.rfonts(14, 22, 600);
    color: var(--gray-600);

    & + .btn_item {
      margin-left: variables.$spacing_8;
    }

    &.is_active {
      background: var(--gray-800);
      color: var(--gray-000);
    }
  }

  & + .codeblock_box {
    margin-top: 0;

    .codeblock {
      border-radius: 0 0 4px 4px;
      border-top: 0;
    }
  }
}

.codeblock {
  .language-bash {
    padding: 0;
  }
}

.header_example {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px variables.$spacing_16 12px variables.$spacing_24;
  border-bottom: 1px solid var(--gray-600);
  background: var(--gray-000);

  @include mixins-lib.tabletStart() {
    padding: 20px variables.$spacing_24 19px variables.$spacing_32;

    @supports (padding: env(safe-area-inset-right)) {
      padding: 20px calc(variables.$spacing_24 + env(safe-area-inset-right)) 19px
        calc(variables.$spacing_32 + env(safe-area-inset-left));
    }

    @supports (padding: constant(safe-area-inset-right)) {
      padding: 20px calc(variables.$spacing_24 + constant(safe-area-inset-right)) 19px
        calc(variables.$spacing_32 + constant(safe-area-inset-left));
    }
  }

  @include mixins-lib.mobileStart() {
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 20px variables.$spacing_24 19px variables.$spacing_16;

    @supports (padding: env(safe-area-inset-right)) {
      padding: 20px calc(variables.$spacing_24 + env(safe-area-inset-right)) 19px
        calc(variables.$spacing_16 + env(safe-area-inset-left));
    }

    @supports (padding: constant(safe-area-inset-right)) {
      padding: 20px calc(variables.$spacing_24 + constant(safe-area-inset-right)) 19px
        calc(variables.$spacing_16 + constant(safe-area-inset-left));
    }
  }

  .nav {
    display: flex;
    align-items: center;

    &_text {
      position: relative;
      margin-left: variables.$spacing_16;
      padding-left: variables.$spacing_16;
      @include mixins-lib.rfonts(12, 16, 500);
      color: var(--gray-800);

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 16px;
        background-color: var(--gray-400);
        vertical-align: middle;
        content: '';
      }
    }

    .btn,
    .user {
      height: 32px;
      padding: variables.$spacing_8 12px;
      @include mixins-lib.rfonts(12, 16, 500);

      &:first-of-type {
        margin-left: variables.$spacing_24;
      }

      & + .btn {
        margin-left: variables.$spacing_16;
      }
    }

    .btn {
      @include mixins-lib.mobileStart() {
        display: none;
      }
    }

    .user {
      display: inline-block;
      box-sizing: border-box;
      color: var(--gray-000);
      border-radius: 4px;

      @include mixins-lib.mobileStart() {
        display: none;
      }
    }
  }

  .logo {
    width: 40px;
    height: 38px;

    @include mixins-lib.tabletStart() {
      width: 24px;
      height: 24px;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
    }

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .btn_box {
    @include mixins-lib.mobileStart() {
      display: none;
    }

    .btn {
      width: 32px;
      height: 32px;
      padding: 0;
      border: none;
      box-sizing: border-box;
    }

    .icon {
      width: 100%;
      height: 100%;
    }

    .btn_grid {
      padding: variables.$spacing_8;
    }
  }

  .menu_user_list {
    flex: 1;
    justify-content: flex-end;
    margin: 0 variables.$spacing_32;
    color: var(--gray-000);

    .icon {
      svg path {
        fill: variables.$white;
      }
    }
  }
}

.dashboard {
  border-radius: 4px;

  &_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    border-bottom: 1px solid var(--gray-400);
  }

  &_content {
    position: relative;
    height: 260px;
  }

  .btn_box {
    align-items: flex-end;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 7px;

    .guide {
      padding-left: 4px;
      padding-bottom: 4px;
      @include mixins-lib.rfonts(10, 10, 500);
      color: var(--gray-500);
    }

    .btn_expand {
      position: static;
      margin-left: auto;
      padding-left: variables.$spacing_8;
      padding-right: variables.$spacing_8;
      border: none;

      &:disabled,
      &.is_disabled {
        background-color: var(--gray-300);
        color: variables.$white;
      }
    }
  }

  .user {
    padding: 5px 13px;
    border-radius: 4px;
    @include mixins-lib.rfonts(12, 16, 500);
    color: variables.$white;
  }

  .user_list {
    display: flex;

    .user_item {
      margin-left: variables.$spacing_8;

      &:first-child {
        margin-left: 0;
      }
    }

    .icon {
      svg path {
        fill: variables.$white;
      }
    }
  }
}

@mixin gradient($type) {
  @if ($type == 1) {
    @keyframes gradient1 {
      0% {
        opacity: 0;
      }

      15% {
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }
  } @else if ($type == 2) {
    @keyframes gradient2 {
      0% {
        opacity: 0;
      }

      15% {
        opacity: 0;
      }

      40% {
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }
  } @else if ($type == 3) {
    @keyframes gradient3 {
      0% {
        opacity: 0;
      }

      15% {
        opacity: 1;
      }

      65% {
        opacity: 0;
      }

      100% {
        opacity: 0;
      }
    }
  } @else if ($type == 4) {
    @keyframes gradient4 {
      0% {
        opacity: 0;
      }

      15% {
        opacity: 0;
      }

      40% {
        opacity: 1;
      }

      65% {
        opacity: 0;
      }

      100% {
        opacity: 0;
      }
    }
  } @else if ($type == 'btn-bg') {
    @keyframes btn-bg {
      0% {
        background-image: linear-gradient(180deg, #ff9754 0%, #f96767 100%);
      }

      40% {
        background-image: linear-gradient(180deg, #84b5ff 0%, #855cf9 100%);
      }

      50% {
        background-image: linear-gradient(180deg, #8decec 0%, #3c9af1 100%);
      }

      90% {
        background-image: linear-gradient(180deg, #fc94d8 0%, #f44954 100%);
      }

      100% {
        background-image: linear-gradient(180deg, #ff9754 0%, #f96767 100%);
      }
    }
  } @else if ($type == 'point-text') {
    @keyframes point-text {
      0% {
        background-image: linear-gradient(180deg, #ff9754 0%, #f96767 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }

      40% {
        background-image: linear-gradient(180deg, #84b5ff 0%, #855cf9 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }

      50% {
        background-image: linear-gradient(180deg, #8decec 0%, #3c9af1 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }

      90% {
        background-image: linear-gradient(180deg, #fc94d8 0%, #f44954 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }

      100% {
        background-image: linear-gradient(180deg, #ff9754 0%, #f96767 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }
  }
}

.darkmode {
  .header_example {
    .logo {
      svg {
        *[fill='#514C49'] {
          fill: var(--gray-100);
        }
      }
    }
  }
}
