@use '../base/mixins-lib';
@use '../base/variables';

.emoji_group {
  border: 1px solid var(--gray-400);
  border-radius: 6px;

  .btn_box {
    padding: 8px 25px 7px 15px;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-400);
  }

  .search {
    margin-bottom: 27px;
  }

  .emoji_box {
    overflow-y: auto;
    max-height: 365px;
    padding: 16px 24px 24px;
    box-sizing: border-box;
  }
}
