@use '../base/mixins-lib';
@use '../base/variables';

.footer_service {
  background: var(--gray-50);

  .footer_inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1120px;
    margin: 0 auto;
    padding: variables.$spacing_56 variables.$spacing_40;

    @supports (padding: env(safe-area-inset-right)) {
      padding: 56px calc(variables.$spacing_40 + env(safe-area-inset-right))
        calc(variables.$spacing_56 + env(safe-area-inset-bottom))
        calc(variables.$spacing_40 + env(safe-area-inset-left));
    }

    @supports (padding: constant(safe-area-inset-right)) {
      padding: 56px calc(variables.$spacing_40 + constant(safe-area-inset-right))
        calc(variables.$spacing_56 + constant(safe-area-inset-bottom))
        calc(variables.$spacing_40 + constant(safe-area-inset-left));
    }

    @include mixins-lib.tabletStart() {
      flex-direction: column;
    }
  }

  .link {
    display: inline-block;
  }

  .box_info {
    min-width: 180px;

    .filter {
      display: block;
    }
  }

  .logo {
    display: block;
    width: 154px;
    margin-left: -9px;

    svg {
      width: 100%;
      height: 100%;

      path {
        &:nth-child(-n + 6) {
          fill: var(--gray-800);
        }

        &:nth-child(8),
        &:nth-child(9) {
          fill: var(--yellow-0);
        }
      }
    }
  }

  .copyright {
    padding: 22px variables.$spacing_24 0 0;
    @include mixins-lib.rfonts(14, 22, 400);
    color: var(--gray-800);

    &:only-child {
      padding: variables.$spacing_24 0;
      text-align: center;
    }
  }

  .box_site {
    display: flex;
    padding: variables.$spacing_8 0;
    @include mixins-lib.tabletStart() {
      flex-direction: column;
    }
  }

  .site {
    min-width: 160px;
    @include mixins-lib.tabletStart() {
      flex: 1;
    }

    & + .site {
      margin-left: variables.$spacing_32;
      @include mixins-lib.tabletStart() {
        margin: variables.$spacing_24 0 0 0;
      }
    }

    .title {
      display: block;
      @include mixins-lib.rfonts(16, 24, 500);
      color: var(--gray-800);
    }

    &_list {
      padding-top: variables.$spacing_24;
    }

    &_item {
      @include mixins-lib.rfonts(14, 22, 400);
      color: var(--gray-800);

      & + .site_item {
        margin-top: variables.$spacing_16;
      }
    }
  }

  .filter {
    margin: 12px 0 32px -2px;

    @include mixins-lib.tabletStart() {
      padding: 0;
    }

    &_list {
      border-bottom: none;
    }

    .btn {
      display: flex;
      justify-content: flex-start;
      border: 1px solid var(--gray-400);
    }

    .dropdown {
      left: -1px;
      right: auto;
      margin-top: -2px;
      width: auto;
      min-width: 100%;

      &_text {
        &:only-child {
          padding-left: 0;
        }
      }
    }
  }
}

.darkmode {
  .footer_service {
    .logo {
      svg path {
        &:nth-child(7) {
          fill: var(--gray-100);
        }
      }
    }
  }
}
