@use '../base/mixins-lib';
@use '../base/variables';

.header_service {
  position: sticky;
  height: variables.$pcHeader;
  top: 0;
  z-index: variables.$z_header;
  background: var(--gray-000);

  .header_inner {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 12px variables.$spacing_8;
    box-sizing: border-box;

    @include mixins-lib.tabletStart() {
      justify-content: flex-start;
      border-bottom: 1px solid var(--gray-400);
      padding: 0 variables.$spacing_24 0 variables.$spacing_32;

      @supports (padding: env(safe-area-inset-right)) {
        padding: 0 calc(variables.$spacing_24 + env(safe-area-inset-right)) 0
          calc(variables.$spacing_32 + env(safe-area-inset-left));
      }

      @supports (padding: constant(safe-area-inset-right)) {
        padding: 0 calc(variables.$spacing_24 + constant(safe-area-inset-right)) 0
          calc(variables.$spacing_32 + constant(safe-area-inset-left));
      }
    }

    @include mixins-lib.mobileStart() {
      padding: 0 variables.$spacing_8 0 variables.$spacing_16;

      @supports (padding: env(safe-area-inset-right)) {
        padding: 0 calc(variables.$spacing_8 + env(safe-area-inset-right)) 0
          calc(variables.$spacing_16 + env(safe-area-inset-left));
      }

      @supports (padding: constant(safe-area-inset-right)) {
        padding: 0 calc(variables.$spacing_8 + constant(safe-area-inset-right)) 0
          calc(variables.$spacing_16 + constant(safe-area-inset-left));
      }
    }
  }

  .logo {
    padding: 0 variables.$spacing_16;

    @include mixins-lib.tabletStart() {
      margin-right: variables.$spacing_8;
      width: 24px;
      height: 24px;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
    }

    svg {
      vertical-align: top;

      path {
        &:nth-child(n + 5) {
          fill: var(--gray-800);
        }
      }

      *[stroke='#FEFDFB'] {
        mask: none;
        stroke: none;
      }

      @include mixins-lib.pcStart() {
        &:last-of-type {
          display: none;
        }
      }

      @include mixins-lib.tabletStart() {
        width: 100%;
        height: 100%;

        &:first-of-type {
          display: none;
        }
      }
    }

    @include mixins-lib.tabletStart() {
      padding: 0;
    }
  }

  .nav {
    flex: 1;
    padding: 0 44px;
    box-sizing: border-box;

    @include mixins-lib.tabletStart() {
      display: none;
    }
  }

  .gnb {
    display: flex;

    &_item {
      & + .gnb_item {
        margin-left: variables.$spacing_16;
      }

      &.is_active {
        .link {
          color: var(--orange-dark);
        }
      }

      .link {
        display: inline-flex;
        align-items: center;
        height: 32px;
        padding: 4px variables.$spacing_8;
        border-radius: 4px;
        @include mixins-lib.rfonts(16, 24, 500);
        box-sizing: border-box;
        color: var(--gray-900);

        &:hover {
          background: var(--gray-100);
        }
      }
    }
  }

  .header_util {
    flex: none;

    .btn {
      @include mixins-lib.tabletStart() {
        display: none;
      }
    }

    .btn_menu {
      display: none;
      position: absolute;
      right: variables.$spacing_24;
      top: 50%;
      padding: variables.$spacing_8;
      color: var(--gray-500);
      transform: translateY(-50%);
      @include mixins-lib.tabletStart() {
        display: block;
      }
      @include mixins-lib.mobileStart() {
        right: variables.$spacing_8;
      }

      @media screen and (orientation: landscape) {
        @supports (right: env(safe-area-inset-right)) {
          right: calc(variables.$spacing_24 + env(safe-area-inset-right));
        }

        @supports (right: constant(safe-area-inset-right)) {
          right: calc(variables.$spacing_24 + constant(safe-area-inset-right));
        }
      }

      .icon_menu,
      .icon_close {
        display: none;
        align-items: center;
        width: 16px;
        height: 16px;

        svg {
          width: 100%;
        }

        &.is_active {
          display: flex;
        }
      }
    }

    .btn_line {
      color: var(--gray-900);
    }

    .orange_0 {
      transition: none;

      &:hover {
        background: linear-gradient(180deg, #ff9754 0%, #f96767 100%);
      }
    }
  }

  .menu_list_mo {
    overflow-y: auto;
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-top: 0;
    padding: variables.$spacing_40 0;
    border: none;

    @media screen and (orientation: landscape) {
      @supports (left: env(safe-area-inset-right)) {
        left: calc(0px + env(safe-area-inset-left));
      }

      @supports (left: constant(safe-area-inset-right)) {
        left: calc(0px + constant(safe-area-inset-left));
      }
    }

    .dropdown_item {
      $nav: '.navigator';

      #{$nav}_list {
        max-width: none;
      }

      #{$nav} > #{$nav}_list {
        padding-top: 8px;
      }

      #{$nav}_group {
        & > #{$nav}_menu {
          padding-left: 12px;
        }

        #{$nav}_list {
          padding: 0;

          #{$nav}_item {
            margin-top: 0;
            padding-left: 44px;
            padding-right: 44px;
          }
        }
      }

      #{$nav}_menu {
        align-items: center;
        padding: 9px 40px;
        @include mixins-lib.rfonts(14, 22, 500);

        .icon {
          width: 16px;
          height: 16px;
        }

        &.is_active {
          & + #{$nav}_list {
            display: block;
          }

          svg {
            transform: rotate(0deg);
          }
        }

        & + #{$nav}_list {
          display: none;

          #{$nav}_group {
            & + #{$nav}_group {
              margin-top: 0;
            }
          }
        }
      }

      #{$nav}_item {
        padding-left: 36px;
        padding-right: 36px;

        &:hover {
          color: var(--orange-0);
        }

        &.is_active {
          border: none;
          background: var(--gray-000);
          color: var(--orange-0);
        }
      }
    }

    .dropdown_menu {
      padding: 12px 36px;

      &:hover {
        background: var(--gray-100);
      }

      & + .navigator {
        display: none;
      }

      &.is_show {
        & + .navigator {
          display: block;
        }

        .icon_toggle {
          transform: rotate(0deg);
        }
      }

      &.btn_docs {
        padding: 12px;

        &.is_show {
          background-color: transparent;

          &.is_active {
            background-color: var(--orange-alpha-light);
          }
        }
      }

      .dropdown_text {
        flex: none;
      }

      .icon {
        flex: 0 1 auto;
        margin-left: 6px;

        &_toggle {
          margin-left: 0;
          transform: rotate(-90deg);

          svg path {
            fill: var(--gray-900);
          }
        }

        & + .dropdown_text {
          margin-left: 7px;
        }
      }
    }

    .dropdown_text {
      @include mixins-lib.rfonts(16, 24, 500);
    }
  }
}

.darkmode {
  .header_service {
    .logo {
      svg {
        *[fill='#514C49'] {
          fill: var(--gray-100);
        }
      }
    }
  }
}
