@use '../base/mixins-lib';
@use '../base/variables';

.icon {
  display: inline-block;
  vertical-align: middle;

  svg {
    display: block;

    path {
      fill: currentColor;
    }
  }

  &_logo {
    svg {
      display: block;
    }
  }

  &.large {
    width: 24px;
    height: 24px;
  }
}

.icon_close_s {
  width: 6px;
  height: 6px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.icon_arrow {
  &_left {
    transform: rotate(90deg);
  }

  &_right {
    transform: rotate(-90deg);
  }

  &_up {
    transform: rotate(180deg);
  }
}
