@use '../base/mixins-lib';
@use '../base/variables';

.setting_image {
  font-size: 0;
  line-height: normal;

  .link {
    display: inline-flex;
    align-items: center;
    font-size: 0;
  }

  .emoji {
    padding: 6px 6px 7px 7px;
    border: 1px solid var(--gray-400);
    border-radius: 16px;
  }

  .text {
    margin-left: variables.$spacing_24;
    @include mixins-lib.rfonts(12, 16, 400);
    color: var(--gray-600);
  }
}
