.test {
  padding: 40px;

  nav ul {
    display: flex;
    margin-bottom: 40px;
  }

  nav ul li a {
    margin-right: 4px;
    padding: 2px 4px;
    border-right: 1px solid lightgray;
  }

  nav ul li a.active {
    font-weight: 500;
    color: var(--orange-0);
  }

  .uio_group {
    padding-bottom: 80px;
  }

  .uio_align_box {
    font-size: 0;
    line-height: normal;
  }

  .uio_box {
    margin-top: 10px;
  }

  .input_view {
    .container {
      width: 1040px;
      margin: 0 auto;
    }
    .uio_title {
      display: block;
      margin: 50px 0 15px;
      padding: 5px 5px;
      background-color: #e2dedb;
      font-size: 30px;
      font-weight: 800;
    }
    .uio_title:first-of-type {
      margin-top: 0;
    }
    .uio_desc {
      margin: 10px 0;
    }
    .uio_align_box {
      display: flex;
    }
    .uio_align_box .input_box {
      flex: 1 1 0;
      padding: 0 7px;
    }
    .uio_align_box .input_box:first-child {
      padding-left: 0;
    }
    .uio_align_box .input_box:last-child {
      padding-right: 0;
    }
    .uio_align_box .input_field_box {
      margin-top: 20px;
    }
    .uio_align_box + .uio_align_box {
      margin-top: 15px;
    }
    .view_code {
      display: block;
      margin-top: 5px;
      padding: 8px;
      font-size: 15px;
      color: #fff;
      background-color: #ccc;
      border-radius: 4px;
      white-space: nowrap;
    }
    .view_code:hover {
      background-color: #000;
    }
  }
}
