@use '../base/normalize';
@use '../base/common';
@use '../base/mixins-lib';
@use '../base/variables';

.login_page {
  .header {
    @include mixins-lib.tabletStart() {
      display: none;
    }
  }

  .container {
    justify-content: center;
  }

  .content {
    max-width: 336px;
    margin: 0 auto;
    padding: 50px 0;

    @include mixins-lib.tabletStart() {
      padding-left: 28px;
      padding-right: 28px;
    }

    @include mixins-lib.mobileStart() {
      max-width: none;
      padding-left: variables.$spacing_16;
      padding-right: variables.$spacing_16;
    }
  }

  .icon_logo {
    display: block;

    svg {
      width: 70px;
      height: 42px;
      margin: 0 auto;
    }
  }

  .title {
    display: block;
    margin-top: variables.$spacing_16;
    @include mixins-lib.rfonts(30, 38, 500);
    color: var(--gray-900);
    text-align: center;
  }

  .form {
    margin-top: variables.$spacing_48;

    @include mixins-lib.tabletStart() {
      margin-top: 54px;
      padding-left: 28px;
      padding-right: 28px;
    }

    @include mixins-lib.mobileStart() {
      padding: 0;
    }

    fieldset {
      display: flex;
      flex-wrap: wrap;
    }

    .input_box {
      flex: 1 1 100%;

      & + .input_box {
        margin-top: variables.$spacing_8;
      }

      &.is_error {
        & + .btn_box {
          margin-top: 20px;
        }
      }
    }

    .btn_box {
      margin-top: variables.$spacing_40;

      @include mixins-lib.tabletStart() {
        margin-top: variables.$spacing_24;
      }

      .btn {
        padding: 11px variables.$spacing_16;
        @include mixins-lib.rfonts(16, 24, 600);
      }
    }

    &_menu {
      margin-top: variables.$spacing_8;
      @include mixins-lib.rfonts(14, 22, 500);
      color: var(--gray-900);

      &.find {
        margin-left: auto;
      }

      &.method {
        margin-right: auto;
      }
    }
  }

  .box_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: variables.$spacing_40;

    @include mixins-lib.tabletStart() {
      padding: 0 28px;
    }

    @include mixins-lib.mobileStart() {
      padding: 0;
    }

    .title {
      margin-top: 0;
      @include mixins-lib.rfonts(14, 22, 600);
    }

    .btn_box {
      width: 100%;
      margin-top: variables.$spacing_72;
      border-top: 1px solid var(--gray-500);

      .btn {
        margin-top: 7px;
        padding: 4px variables.$spacing_16 2px;
        @include mixins-lib.rfonts(16, 24, 600);
        color: var(--gray-600);
      }
    }
  }

  .sns_list {
    $sns: '.sns_list';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: variables.$spacing_24;

    &_item {
      & + #{$sns}_item {
        padding-left: 51px;
      }
    }

    &_menu {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      background-color: var(--gray-200);

      .icon_github {
        width: 23px;
        height: 23px;
      }

      .icon,
      svg {
        display: block;
        width: 18px;
        height: 18px;

        &.icon_github {
          width: 22px;
          height: 22px;

          svg {
            width: 22px;
            height: 22px;
          }
        }
      }
    }
  }

  .guide {
    margin-top: variables.$spacing_72;
    font-size: 0;
    line-height: normal;
    text-align: center;

    @include mixins-lib.tabletStart() {
      margin-top: 88px;
    }

    &_text {
      display: inline-block;
      padding-right: 3px;
      @include mixins-lib.rfonts(12, 16, 500);
      color: var(--gray-900);
      vertical-align: top;
    }
  }

  .terms {
    display: inline-block;
    vertical-align: top;

    @include mixins-lib.mobileXS() {
      padding-top: variables.$spacing_8;
    }

    &_text {
      display: inline-block;
      padding-right: 2px;
      @include mixins-lib.rfonts(12, 16, 600);
      color: var(--blue-0);
      vertical-align: top;
    }
  }
}

.team_slug {
  .container {
    justify-content: flex-start;
  }

  .form {
    margin-top: 104px;

    @include mixins-lib.tabletStart() {
      margin-top: 58px;
    }

    .btn_box {
      @include mixins-lib.tabletStart() {
        padding-top: variables.$spacing_32;
        margin-top: 0;
      }

      .btn {
        color: var(--gray-700);

        .icon {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  .tooltip_area {
    & + .input_box {
      margin-top: variables.$spacing_16;
    }
  }

  .link_options {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: variables.$spacing_8;

    @include mixins-lib.tabletStart() {
      margin-top: variables.$spacing_16;
    }

    .icon {
      margin-right: 4px;
    }

    .title {
      margin-top: 0;
      @include mixins-lib.rfonts(14, 22);
    }
  }

  .guide {
    @include mixins-lib.tabletStart() {
      margin-top: 193px;
    }
  }
}

.join_page {
  .header {
    @include mixins-lib.tabletStart() {
      display: none;
    }
  }

  .container {
    justify-content: center;
  }

  .content {
    max-width: 336px;
    margin: 0 auto;
    padding: 50px 0;

    @include mixins-lib.tabletStart() {
      padding-left: 28px;
      padding-right: 28px;
    }

    @include mixins-lib.mobileStart() {
      max-width: none;
      padding-left: variables.$spacing_16;
      padding-right: variables.$spacing_16;
    }
  }

  .icon_logo {
    display: block;

    svg {
      width: 70px;
      height: 42px;
      margin: 0 auto;
    }
  }

  .title {
    display: block;
    margin-top: variables.$spacing_16;
    @include mixins-lib.rfonts(30, 38, 500);
    color: var(--gray-900);
    text-align: center;
  }

  .form {
    margin-top: variables.$spacing_40;

    @include mixins-lib.tabletStart() {
      margin-top: 54px;
      padding-left: 28px;
      padding-right: 28px;
    }

    @include mixins-lib.mobileStart() {
      padding: 0;
    }

    fieldset {
      display: flex;
      flex-wrap: wrap;
    }

    .input_box {
      flex: 1 1 100%;

      & + .input_box {
        margin-top: variables.$spacing_8;
      }

      &.is_error {
        & + .input_box {
          margin-top: 10px;
        }

        & + .btn_box {
          padding-top: 20px;
        }
      }
    }

    .btn_box {
      margin-top: variables.$spacing_16;

      @include mixins-lib.tabletStart() {
        margin-top: variables.$spacing_24;
      }

      .btn {
        padding: 11px variables.$spacing_16;
        @include mixins-lib.rfonts(16, 24, 600);

        &.orange_0 {
          &.is_disabled,
          &:disabled {
            background-color: var(--gray-100);
            color: var(--gray-400);
          }
        }
      }
    }
  }

  .box_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: variables.$spacing_40;

    @include mixins-lib.tabletStart() {
      padding: 0 28px;
    }

    @include mixins-lib.mobileStart() {
      padding: 0;
      margin-top: variables.$spacing_48;
    }

    .title {
      margin-top: 0;
      @include mixins-lib.rfonts(14, 22, 600);
    }

    .btn_box {
      width: 100%;
      margin-top: variables.$spacing_72;
      border-top: 1px solid var(--gray-500);

      .btn {
        margin-top: 7px;
        padding: 4px variables.$spacing_16 2px;
        @include mixins-lib.rfonts(16, 24, 600);
        color: var(--gray-600);
      }
    }
  }

  .sns_list {
    $sns: '.sns_list';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: variables.$spacing_24;

    &_item {
      & + #{$sns}_item {
        padding-left: 51px;
      }
    }

    &_menu {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      background-color: var(--gray-200);

      .icon,
      svg {
        display: block;
        width: 18px;
        height: 18px;

        &.icon_github {
          width: 22px;
          height: 22px;

          svg {
            width: 22px;
            height: 22px;
          }
        }
      }
    }
  }

  .guide {
    width: 100%;
    margin-top: variables.$spacing_40;
    font-size: 0;
    line-height: normal;
    text-align: center;

    @include mixins-lib.tabletStart() {
      margin-top: variables.$spacing_24;
    }

    &_text {
      display: inline-block;
      width: 100%;
      margin-bottom: 4px;
      @include mixins-lib.rfonts(12, 16, 500);
      color: var(--gray-900);
      vertical-align: top;
    }
  }

  .terms {
    display: inline-block;
    vertical-align: top;

    &_text {
      display: inline-block;
      padding-right: 2px;
      @include mixins-lib.rfonts(12, 16, 600);
      color: var(--blue-0);
      vertical-align: top;
    }

    & + .guide_text {
      display: inline-block;
      width: auto;
      @include mixins-lib.rfonts(12, 16, 500);
      margin-bottom: 0;
      padding: 0 4px;
      vertical-align: top;
    }
  }
}

.join_complete_page {
  .header {
    @include mixins-lib.tabletStart() {
      display: none;
    }
  }

  .container {
    justify-content: center;
  }

  .content {
    max-width: 514px;
    margin: 0 auto;
    padding: 50px 0;

    @include mixins-lib.tabletStart() {
      padding-left: 28px;
      padding-right: 28px;
    }

    @include mixins-lib.mobileStart() {
      max-width: none;
      padding-left: variables.$spacing_16;
      padding-right: variables.$spacing_16;
    }
  }

  .icon_logo {
    display: block;

    svg {
      width: 70px;
      height: 42px;
      margin: 0 auto;
    }
  }

  .title {
    display: block;
    margin-top: variables.$spacing_16;
    @include mixins-lib.rfonts(30, 38, 500);
    color: var(--gray-900);
    text-align: center;
  }

  .img_box {
    margin-top: variables.$spacing_40;

    img {
      max-width: 100%;
      height: auto;
      vertical-align: top;
    }
  }

  .desc {
    margin-top: variables.$spacing_16;
    @include mixins-lib.rfonts(14, 22, 500);
    color: var(--gray-900);
    text-align: center;
  }

  .btn_box {
    margin: variables.$spacing_16 1px 0;

    @include mixins-lib.tabletStart() {
      margin-top: variables.$spacing_24;
    }

    .btn {
      padding: 11px variables.$spacing_16;
      @include mixins-lib.rfonts(16, 24, 600);
    }
  }
}
