@use '../base/normalize';
@use '../base/common';
@use '../base/mixins-lib';
@use '../base/variables';

.setting_account_page {
  @include mixins-lib.setContainerPC(variables.$spacing_72, variables.$spacing_72);

  .header {
    @include mixins-lib.tabletStart() {
      display: none;
    }
  }

  .content {
    position: relative;

    @include mixins-lib.tabletStart() {
      padding-bottom: variables.$spacing_64;
    }
  }

  .page_title {
    margin-bottom: variables.$spacing_48;
    padding-right: variables.$spacing_32;

    @include mixins-lib.tabletStart() {
      display: flex;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      margin-bottom: 0;
      padding: 21px variables.$spacing_40 20px variables.$spacing_16;
      border-bottom: 1px solid var(--gray-400);
      background-color: var(--gray-000);
    }

    .text {
      display: block;
      @include mixins-lib.rfonts(24, 28, 500);
      color: var(--gray-800);

      @include mixins-lib.tabletStart() {
        @include mixins-lib.rfonts(14, 22, 600);
      }
    }

    .btn {
      display: none;

      @include mixins-lib.tabletStart() {
        display: block;
        margin: 0 4px 0 0;
        padding: 0;
        background-color: transparent;
        font-size: 0;
        line-height: normal;
      }

      &_back {
        color: var(--gray-800);
      }
    }
  }

  .navigator {
    position: sticky;
    top: variables.$spacing_64;
    width: 100%;
    max-width: 160px;
    padding-right: 104px;

    @include mixins-lib.tabletStart() {
      display: none;
    }
  }

  .box_right {
    @include mixins-lib.tabletStart() {
      width: 100%;
      padding: 0 variables.$spacing_24 0;
      box-sizing: border-box;
    }

    @include mixins-lib.mobileStart() {
      padding-left: variables.$spacing_16;
      padding-right: variables.$spacing_16;
    }
  }

  .setting {
    &_group {
      display: flex;
      align-items: flex-start;

      @include mixins-lib.tabletStart() {
        padding-top: 110px;
      }
    }

    &_box {
      margin-top: variables.$spacing_96;

      &:first-of-type {
        margin-top: 0;
      }
    }

    &_title {
      margin-bottom: variables.$spacing_48;
    }

    &_image {
      padding-top: variables.$spacing_24;
      font-size: 0;
    }

    &_theme {
      max-width: 480px;
      padding: 19px variables.$spacing_16;
      border: 1px solid var(--gray-400);
      box-sizing: border-box;
      border-radius: 8px;
      background-color: var(--gray-100);

      @include mixins-lib.tabletStart() {
        max-width: none;
      }

      &.is_active {
        background-color: var(--gray-000);
      }
    }
  }

  .sub_info {
    padding: 0 variables.$spacing_8;
  }

  .sub_title {
    margin-top: variables.$spacing_48;
    @include mixins-lib.rfonts(14, 22, 500);
    color: var(--gray-800);

    &:first-of-type {
      margin-top: 0;
    }
  }

  .sub_desc {
    font-size: 0;
    line-height: normal;

    .guide {
      padding-top: variables.$spacing_8;
      @include mixins-lib.rfonts(12, 16, 500);
      color: var(--gray-500);
    }

    .btn_box {
      margin-top: variables.$spacing_16;
    }

    .btn {
      padding: 7px 12px 7px 11px;

      .icon {
        width: 12px;
        height: 12px;
      }

      .text {
        @include mixins-lib.rfonts(12, 16, 500);
      }
    }
  }

  .input {
    &_group {
      display: block;
      margin-top: variables.$spacing_24;
    }

    &_toggle_box {
      margin-top: variables.$spacing_24;
    }

    &_radio_box {
      display: flex;
      margin-top: variables.$spacing_24;

      &:first-child {
        margin-top: 0;
      }
    }

    &_field_box {
      padding-top: variables.$spacing_16;
      margin-left: -(variables.$spacing_8);

      @include mixins-lib.mobileStart() {
        margin-right: -(variables.$spacing_8);
      }
    }

    &_guide {
      padding-left: variables.$spacing_8;
    }

    &_inner {
      .btn_box {
        margin-top: 0;

        @include mixins-lib.mobileStart() {
          margin-top: variables.$spacing_16;
          padding: 0 variables.$spacing_8;
        }
      }
    }
  }

  .connect_box {
    &:first-of-type {
      margin-top: variables.$spacing_16;

      @include mixins-lib.mobileStart() {
        margin-top: variables.$spacing_24;
      }
    }

    .btn_box {
      margin-top: 1px;
    }
  }

  .time {
    display: block;
    max-width: 427px;
    margin-top: 21px;
    padding: 14px variables.$spacing_16 variables.$spacing_16 variables.$spacing_16;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: var(--gray-100);
    @include mixins-lib.rfonts(12, 16, 500);
    color: var(--gray-900);

    @include mixins-lib.tabletStart() {
      max-width: none;
    }
  }

  .setting_account_close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 3px;

    @include mixins-lib.tabletStart() {
      position: fixed;
      top: 17px;
      right: variables.$spacing_8;
      z-index: 10;
      padding: 7px;
      border: none;
      background-color: transparent;
    }

    .icon {
      width: 24px;
      height: 24px;
      margin: 0;
      color: var(--gray-900);

      @include mixins-lib.tabletStart() {
        width: 16px;
        height: 16px;
      }
    }
  }
}
