@use '../base/normalize';
@use '../base/common';
@use '../base/mixins-lib';
@use '../base/variables';

.setting_project_page {
  @include mixins-lib.setContainerPC(variables.$spacing_72, variables.$spacing_72);

  .content {
    position: relative;

    @include mixins-lib.tabletStart() {
      padding-bottom: variables.$spacing_64;
    }
  }

  .box_top {
    @include mixins-lib.tabletStart() {
      display: none;
    }
  }

  .box_tab {
    margin-top: variables.$spacing_24;

    @include mixins-lib.tabletStart() {
      margin-top: 0;
    }
  }

  .navigator {
    position: sticky;
    top: 148px;
    width: 100%;
    max-width: 160px;
    padding-right: 104px;

    @include mixins-lib.tabletStart() {
      display: none;
    }
  }

  .box_right {
    @include mixins-lib.tabletStart() {
      width: 100%;
      padding: 0 variables.$spacing_32;
      box-sizing: border-box;
    }

    @include mixins-lib.mobileStart() {
      padding-left: variables.$spacing_16;
      padding-right: variables.$spacing_16;
    }
  }

  .setting {
    $set: '.setting';

    &_group {
      display: flex;
      align-items: flex-start;
      margin-top: variables.$spacing_48;

      @include mixins-lib.tabletStart() {
        margin: 0;
      }
    }

    &_box {
      margin-top: variables.$spacing_96;

      @include mixins-lib.tabletStart() {
        padding-top: variables.$spacing_40;
      }

      &:first-of-type {
        margin-top: 0;
      }

      & + #{$set}_box {
        padding: 0;
      }
    }

    &_title {
      margin-bottom: variables.$spacing_48;
    }

    &_image {
      padding-top: variables.$spacing_24;
    }

    &_theme {
      padding: 19px variables.$spacing_16;
      border: 1px solid var(--gray-400);
      border-radius: 8px;
      background-color: var(--gray-100);

      &.is_active {
        background-color: variables.$white;
      }
    }
  }

  .sub_info {
    padding: 0 variables.$spacing_8;
  }

  .sub_title {
    margin-top: variables.$spacing_48;
    @include mixins-lib.rfonts(14, 22, 500);
    color: var(--gray-800);

    &:first-of-type {
      margin-top: 0;
    }
  }

  .sub_desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .guide {
      margin-top: variables.$spacing_8;
      @include mixins-lib.rfonts(13, 18, 400);
      color: var(--gray-500);

      .darkmode & {
        color: var(--gray-400);
      }

      @include mixins-lib.mobileStart() {
        margin-top: variables.$spacing_16;
      }
    }
  }

  .input {
    &_group {
      margin-top: variables.$spacing_16;

      &:first-of-type {
        margin-top: 0;
      }

      .input_guide {
        @include mixins-lib.mobileStart() {
          padding-left: variables.$spacing_56;
        }
      }
    }

    &_radio_box {
      display: flex;
      margin-top: variables.$spacing_24;

      &:first-child {
        margin-top: 0;
      }
    }

    &_field_box {
      width: 100%;
      padding-top: variables.$spacing_16;

      .input {
        @include mixins-lib.tabletStart() {
          width: 100%;
          margin-right: 0;
        }
      }

      .btn_box {
        margin-top: 0;

        @include mixins-lib.mobileStart() {
          margin-top: variables.$spacing_16;
          padding: 0 variables.$spacing_8;
        }
      }
    }

    &_inner {
      margin-left: -(variables.$spacing_8);
    }

    &_toggle_box {
      justify-content: flex-start;
      min-width: 258px;

      @include mixins-lib.mobileStart() {
        min-width: auto;
      }
    }
  }

  .webhook {
    .webhook_methods,
    .webhook_events {
      margin-top: variables.$spacing_24;
      padding: 0 variables.$spacing_8;

      @include mixins-lib.tabletStart() {
        padding: 0;
      }
    }
  }

  .danger_zone {
    .btn_box {
      margin-top: variables.$spacing_16;

      @include mixins-lib.mobileXS() {
        display: block;
      }
    }

    .btn {
      padding: 7px 12px 7px 11px;
      margin: 0;

      @include mixins-lib.mobileXS() {
        display: flex;
      }

      & + .btn {
        margin-left: variables.$spacing_16;

        @include mixins-lib.mobileXS() {
          margin-top: variables.$spacing_16;
          margin-left: 0;
        }
      }

      .icon {
        width: 12px;
        height: 12px;
      }

      .text {
        @include mixins-lib.rfonts(12, 16, 500);
      }
    }
  }

  // Members section styles
  .members_container {
    width: 100%;
    max-width: none;

    .members_header_action {
      display: flex;
      justify-content: flex-end;
      margin-bottom: variables.$spacing_24;
    }

    .members_table_wrapper {
      overflow-x: auto;
      overflow-y: visible;
      margin-top: variables.$spacing_16;
    }

    .members_table {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        padding: variables.$spacing_16;
        text-align: left;
        @include mixins-lib.rfonts(13, 18, 400);
      }

      thead {
        border-bottom: 1px solid var(--gray-300);

        th {
          @include mixins-lib.rfonts(12, 16, 500);
          color: var(--gray-600);
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 0.05em;

          .darkmode & {
            color: var(--gray-400);
          }
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid var(--gray-200);

          .darkmode & {
            border-bottom-color: var(--gray-700);
          }

          &:hover {
            background-color: var(--gray-50);
          }
        }

        td {
          color: var(--gray-800);

          .darkmode & {
            color: var(--gray-200);
          }
        }
      }

      .col_username {
        width: 30%;
        min-width: 150px;
      }

      .col_role {
        width: 25%;
        min-width: 120px;
      }

      .col_date {
        width: 25%;
        min-width: 150px;
      }

      .col_actions {
        width: 20%;
        min-width: 100px;
      }

      .member_username {
        display: flex;
        align-items: center;
        gap: variables.$spacing_8;

        .badge_you {
          padding: 2px 8px;
          background-color: var(--orange-alpha);
          color: var(--orange-0);
          border-radius: 4px;
          @include mixins-lib.rfonts(11, 16, 500);
          text-transform: uppercase;

          .darkmode & {
            background-color: var(--orange-alpha-light);
          }
        }
      }

      .member_role {
        .btn_role {
          display: inline-flex;
          align-items: center;
          gap: variables.$spacing_8;
          padding: 6px 12px;
          background-color: transparent;
          border: 1px solid var(--gray-300);
          border-radius: 6px;
          cursor: pointer;
          transition: all 0.2s;
          @include mixins-lib.rfonts(13, 18, 400);
          color: var(--gray-800);

          .darkmode & {
            border-color: var(--gray-600);
            color: var(--gray-200);
          }

          &:hover:not(:disabled) {
            border-color: var(--gray-400);
            background-color: var(--gray-50);

            .darkmode & {
              border-color: var(--gray-500);
              background-color: var(--gray-700);
            }
          }

          &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
          }

          .icon {
            width: 12px;
            height: 12px;
          }
        }
      }

      .member_date {
        color: var(--gray-600);

        .darkmode & {
          color: var(--gray-400);
        }
      }

      .btn_remove_member {
        display: inline-flex;
        align-items: center;
        gap: variables.$spacing_8;
        padding: 4px 8px;
        color: var(--red-0);
        transition: all 0.2s;

        &:hover:not(:disabled) {
          background-color: var(--red-alpha);
        }

        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }

        .icon {
          width: 14px;
          height: 14px;
        }
      }
    }
  }
}
