@use 'assets/styles/global/mixins-lib';
@use 'assets/styles/global/variables';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 47px;
  border-top: 1px solid var(--gray-300);
}
