@use '../global/variables';
@use 'sass:list';
@use 'sass:map';

$h1: 56px;
$h2: 46px;
$h3: 38px;
$h4: 30px;
$h5: 24px;
$h6: 20px;
$subtitle: 16px;
$text: 14px;
$text_s: 12px;
$text_xs: 8px;

// Family
$pretendard: (
  'Light': 300,
  'Regular': 400,
  'Medium': 500,
  'SemiBold': 600,
  'ExtraBold': 800,
);

@each $name, $weight in $pretendard {
  @font-face {
    font-family: 'Pretendard';
    font-weight: $weight;
    src: url('../../fonts/Pretendard-#{$name}.woff') format('woff');
  }
}

@font-face {
  font-family: 'RobotoMono';
  font-weight: 400;
  src: url('../../fonts/RobotoMono-Regular.woff') format('woff');
}

$families: 'Pretendard', 'RobotoMono', 'monospace';
@each $family in $families {
  .font_#{$family} {
    font-family: $family;
  }
}

// Weight
$weights: 800, 600, 500, 400, 300;
@each $weight in $weights {
  .fontweight_#{$weight} {
    font-weight: $weight;
  }
}

// Size
.fontsize_56 {
  font-size: $h1;
  line-height: 64px;
}

.fontsize_46 {
  font-size: $h2;
  line-height: 54px;
}

.fontsize_38 {
  font-size: $h3;
  line-height: 46px;
}

.fontsize_30 {
  font-size: $h4;
  line-height: 38px;
}

.fontsize_24 {
  font-size: $h5;
  line-height: 32px;
}

.fontsize_20 {
  font-size: $h6;
  line-height: 28px;
}

.fontsize_16 {
  font-size: $subtitle;
  line-height: 24px;
}

.fontsize_14 {
  font-size: $text;
  line-height: 22px;
}

.fontsize_12 {
  font-size: $text_s;
  line-height: 16px;
}

.fontsize_8 {
  font-size: $text_xs;
  line-height: 8px;
}
