$initial-font-size: 15;
$initial-line-height: "normal"; // normal 사용이 아닐경우 초기값 : 19
$font-family-common: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-roboto: "RobotoMono",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$white: #fff;

// Gradient (90deg = to right, 180deg = to top)
$gradient_90deg_yellow: linear-gradient(90deg, #fe924d 0%, #fdc433 100%);
$gradient_90deg_orange: linear-gradient(90deg, #f96767 0%, #ff9754 100%);
$gradient_90deg_red: linear-gradient(90deg, #fc94d8 0%, #f44954 100%);
$gradient_90deg_purple: linear-gradient(90deg, #84b5ff 0%, #855cf9 100%);
$gradient_90deg_blue: linear-gradient(90deg, #8decec 0%, #3c9af1 100%);
$gradient_90deg_green: linear-gradient(90deg, #d7e38b 0%, #23c176 100%);
$gradient_90deg_gray1: linear-gradient(90deg, #212121 0%, #616161 100%);
$gradient_90deg_gray2: linear-gradient(90deg, #616161 0%, #9e9e9e 100%);
$gradient_90deg_gray3: linear-gradient(90deg, #9e9e9e 0%, #e0e0e0 100%);
$gradient_90deg_gray4: linear-gradient(90deg, #e0e0e0 0%, #f5f5f5 100%);
$gradient_180deg_yellow: linear-gradient(180deg, #fe924d 0%, #fdc433 100%);
$gradient_180deg_orange: linear-gradient(180deg, #f96767 0%, #ff9754 100%);
$gradient_180deg_red: linear-gradient(180deg, #fc94d8 0%, #f44954 100%);
$gradient_180deg_purple: linear-gradient(180deg, #84b5ff 0%, #855cf9 100%);
$gradient_180deg_blue: linear-gradient(180deg, #8decec 0%, #3c9af1 100%);
$gradient_180deg_green: linear-gradient(180deg, #d7e38b 0%, #23c176 100%);
$gradient_180deg_gray1: linear-gradient(180deg, #212121 0%, #616161 100%);
$gradient_180deg_gray2: linear-gradient(180deg, #616161 0%, #9e9e9e 100%);
$gradient_180deg_gray3: linear-gradient(180deg, #9e9e9e 0%, #e0e0e0 100%);
$gradient_180deg_gray4: linear-gradient(180deg, #e0e0e0 0%, #f5f5f5 100%);

// Shadow
$shadow_xs: 0 8px 4px -8px rgb(0 0 0 / 20%);
$shadow_s: 0 8px 8px -8px rgb(0 0 0 / 20%);
$shadow_m: 0 8px 16px -8px rgb(0 0 0 / 20%);
$shadow_l: 0 20px 24px -12px rgb(0 0 0 / 20%);

// Spacing
$spacing_8: 8px;
$spacing_16: 16px;
$spacing_32: 32px;
$spacing_40: 40px;
$spacing_48: 48px;
$spacing_64: 64px;
$spacing_96: 96px;

// @media
$pcMax: 2560px;
$pcMin: 1023px;
$tabletMin: 640px;
$mobileMin: 360px;
$mobileXS: ($mobileMin - 1) px;

// Layout
$pcHeader: 64px;
$mobileHeader: 70px;
