@import 'assets/styles/page/admin.css';

body {
  font-size: 16px;
}
.prism-code .token,
.prism-code .line-number {
  font-size: 14px;
}
.shadow_none {
  box-shadow: none;
}

// Tab List

.tab_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
@media screen and (min-width: 1024px) {
  .tab_list {
    border-bottom: 1px solid var(--gray-500);
  }
}
.tab_item {
  margin: 0 4px;
}
@media screen and (max-width: 1023px) {
  .tab_item {
    position: relative;
  }
}
.tab_item:first-child {
  margin-left: 0;
}
.tab_item:last-child {
  margin-right: 0;
}
.tab_item:hover .tab_menu::before {
  background: var(--gray-400);
}
.tab_item:hover .tab_menu .icon {
  color: var(--gray-800);
}
.tab_item:hover .tab_menu.is_active::before {
  background: var(--orange-0);
}
.tab_item:hover .tab_text {
  color: var(--gray-800);
}
@media screen and (max-width: 1023px) {
  .tab_item::before {
    position: absolute;
    bottom: -2px;
    left: -4px;
    right: -4px;
    height: 1px;
    background-color: var(--gray-500);
    content: '';
  }
}
.tab_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 8px 16px 6px 12px;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
}
.tab_menu::before {
  display: block;
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 2px;
  content: '';
}
@media screen and (max-width: 1023px) {
  .tab_menu::before {
    bottom: -2px;
  }
}
@media screen and (max-width: 1023px) {
  .tab_menu::after {
    display: block;
    position: absolute;
    right: 0;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--gray-500);
    content: '';
  }
}
.tab_menu.is_active::before {
  background: var(--orange-0);
}
.tab_menu.is_active .icon {
  color: var(--gray-800);
}
.tab_menu.is_active .tab_text {
  color: var(--gray-800);
}
.tab_menu .icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  color: var(--gray-500);
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  vertical-align: middle;
}
.tab_menu .icon svg {
  display: block;
  width: 100%;
}
.tab_menu .icon svg path {
  fill: currentColor;
}
.tab_text {
  font-size: 1.4rem;
  line-height: 1.58;
  color: var(--gray-500);
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

// Code Block

@charset "UTF-8";
.codeblock_box {
  position: relative;
}
.codeblock_box.is_bash .codeblock {
  padding: 12px 0;
}
.codeblock_box .btn_area {
  position: absolute;
  right: 8px;
  top: 8px;
}
.codeblock_box .btn_area .btn {
  padding: 9px 11px;
}
.codeblock_box .btn_area .icon {
  width: 12px;
  height: 12px;
}
.codeblock {
  position: relative;
  overflow-x: auto;
  min-height: 48px;
  padding: 8px 0;
  border-radius: 4px;
  border: 1px solid var(--gray-400);
  background: var(--gray-000);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.prism-code {
  display: table;
  margin: 0;
  font-family: RobotoMono, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}
.prism-code .token {
  white-space: pre;
}
.prism-code .token-line {
  display: table-row;
}
.prism-code .token-line.is_removed {
  background: var(--red-alpha-light);
}
.prism-code .token-line.is_created {
  background: var(--green-alpha-light);
}
.prism-code .token-line.is_edited {
  background: var(--yellow-alpha-light);
}
.prism-code .string {
  word-break: break-all;
}
.prism-code .class-name {
  color: var(--purple-dark);
}
.prism-code .parameter,
.prism-code .plain,
.prism-code .property {
  color: var(--gray-900);
}
.prism-code .line-content,
.prism-code .line-number {
  display: table-cell;
  padding: 0 16px;
}
.prism-code .line-number {
  font-size: 1.2rem;
  line-height: 2;
  font-weight: 400;
  color: var(--gray-500);
  text-align: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.prism-code.language-json .token.property {
  color: var(--blue-dark);
}
.prism-code.language-json .token.number {
  color: var(--orange-dark);
}
.prism-code.language-bash {
  padding: 0 24px;
}
.codeblock_tree_box {
  padding: 16px 24px;
  border: 1px solid var(--gray-400);
  border-radius: 0 0 4px 4px;
  background: var(--gray-000);
  color: var(--gray-600);
  word-break: break-all;
}
.codeblock_tree_box .react-json-view {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
}
.codeblock_tree_box
  .react-json-view
  > .object-container
  > .object-content
  > .object-key-val
  > span:first-child
  .object-key::after {
  display: none;
}
.codeblock_tree_box .object-key-val {
  padding: 0 !important;
}
.codeblock_tree_box .object-key-val span {
  position: relative;
  display: inline-block;
  opacity: 1 !important;
}
.codeblock_tree_box .object-key-val .object-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: 24px !important;
}
.codeblock_tree_box .object-key-val .icon-container {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.codeblock_tree_box .object-key-val .icon-container .collapsed-icon,
.codeblock_tree_box .object-key-val .icon-container .expanded-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.codeblock_tree_box .object-key-val .variable-row,
.codeblock_tree_box .object-key-val > span:first-child {
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid var(--gray-400);
  font-size: 1.4rem;
  line-height: 1.72;
  font-weight: 500;
  letter-spacing: 0 !important;
}
.codeblock_tree_box .object-key-val .variable-row.is_edited,
.codeblock_tree_box .object-key-val > span:first-child.is_edited {
  border-color: var(--yellow-0);
  background: var(--yellow-alpha-light);
  color: var(--yellow-dark);
}
.codeblock_tree_box .object-key-val .variable-row.is_created,
.codeblock_tree_box .object-key-val > span:first-child.is_created {
  border-color: var(--green-0);
  background: var(--green-alpha-light);
  color: var(--green-dark);
}
.codeblock_tree_box .object-key-val .variable-row.is_removed,
.codeblock_tree_box .object-key-val > span:first-child.is_removed {
  border-color: var(--red-0);
  background: var(--red-alpha-light);
  color: var(--red-dark);
}
.codeblock_tree_box .object-key-val .array-key,
.codeblock_tree_box .object-key-val .object-key {
  position: relative;
  padding-left: 20px;
  font-size: 1.4rem;
  line-height: 1.72;
  font-weight: 500;
}
.codeblock_tree_box .object-key-val .object-key-val,
.codeblock_tree_box .object-key-val .variable-row {
  position: relative;
}
.codeblock_tree_box .object-key-val .object-key-val:first-of-type::after,
.codeblock_tree_box .object-key-val .variable-row:first-of-type::after {
  top: -16px;
  height: 32px;
}
.codeblock_tree_box .object-key-val .object-key-val::after,
.codeblock_tree_box .object-key-val .variable-row::after {
  position: absolute;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px dashed var(--gray-400);
  border-width: 0 0 1px 1px;
  border-radius: 0 0 0 4px;
  content: '';
}
.codeblock_tree_box .object-key-val .object-key-val:not(:last-of-type)::before,
.codeblock_tree_box .object-key-val .variable-row:not(:last-of-type)::before {
  position: absolute;
  border: 1px dashed var(--gray-400);
  border-width: 0 0 0 1px;
  content: '';
}
.codeblock_tree_box .object-key-val .object-key-val::after {
  left: -17px;
}
.codeblock_tree_box .object-key-val .object-key-val:not(:last-of-type)::before {
  left: -17px;
  top: 17px;
  bottom: 0;
}
.codeblock_tree_box .object-key-val .variable-row {
  padding: 8px 12px !important;
}
.codeblock_tree_box .object-key-val .variable-row::after {
  left: -18px;
}
.codeblock_tree_box .object-key-val .variable-row:not(:last-of-type)::before {
  left: -18px;
  top: 16px;
  bottom: -20px;
}
.codeblock_tree_box .object-key-val .variable-row .object-key {
  padding: 0;
  border: 0;
  margin: 0;
}
.codeblock_tree_box .object-key-val .variable-row .object-key::after,
.codeblock_tree_box .object-key-val .variable-row .object-key::before {
  display: none;
}
.codeblock_tree_box .object-key-val .variable-row .variable-value {
  padding-right: 0 !important;
}
.codeblock_tree_box .object-key-val .brace-row {
  display: block;
  width: 0;
  font-size: 0;
}
.codeblock_tree_box .object-key-val .object-meta-data {
  position: absolute;
}
.codeblock_tree_box .node-ellipsis {
  margin-left: 4px;
}
@charset "UTF-8";
.codeblock_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 48px;
  padding: 8px 8px 8px 16px;
  background: var(--gray-50);
  border: 1px solid var(--gray-400);
  border-radius: 4px 4px 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 1023px) {
  .codeblock_header {
    padding: 10px 8px 6px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}
@media screen and (max-width: 639px) {
  .codeblock_header {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.codeblock_header .box_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 1023px) {
  .codeblock_header .box_left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
@media screen and (max-width: 639px) {
  .codeblock_header .box_left {
    margin-right: 10px;
  }
}
.codeblock_header .box_left .btn {
  height: 32px;
  margin-left: 16px;
  padding: 8px 12px;
  font-size: 1.2rem;
  line-height: 1.34;
  font-weight: 500;
  color: var(--gray-800);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 1023px) {
  .codeblock_header .box_left .btn {
    margin: 10px 0 0;
  }
}
.codeblock_header .box_left .btn .icon {
  width: 12px;
  height: 12px;
}
.codeblock_header .desc {
  padding-left: 8px;
  font-size: 1.4rem;
  line-height: 1.58;
  font-weight: 600;
  color: var(--gray-800);
}
.codeblock_header .info_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  padding-left: 56px;
  font-size: 1.2rem;
  line-height: 1.34;
  font-weight: 600;
}
@media screen and (max-width: 1023px) {
  .codeblock_header .info_list {
    padding-left: 8px;
  }
}
.codeblock_header .info_list .info_title {
  color: var(--gray-600);
}
.codeblock_header .info_list .info_title:not(:first-child) {
  padding-left: 40px;
}
.codeblock_header .info_list .info_desc {
  padding-left: 16px;
  font-weight: 400;
  color: var(--gray-800);
}
.codeblock_header .box_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 639px) {
  .codeblock_header .box_right {
    margin-top: 8px;
  }
}
.codeblock_header .box_right .btn_area {
  position: relative;
  margin-left: 24px;
}
.codeblock_header .box_right .btn_line {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid var(--gray-400);
  color: var(--gray-800);
}
.codeblock_header .box_right .btn_line .icon {
  width: 12px;
  height: 12px;
}
.codeblock_header .btn_toggle {
  padding: 8px;
}
.codeblock_header .btn_toggle:not(.is_active) {
  background: var(--gray-50);
}
@charset "UTF-8";
.codeblock_navigator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--gray-400);
}
.codeblock_navigator .item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 36px;
  padding: 0 16px;
  border-radius: 8px;
  font-size: 1.4rem;
  line-height: 1.58;
  font-weight: 600;
  color: var(--gray-600);
}
.codeblock_navigator .item + .item {
  margin-left: 8px;
}
.codeblock_navigator .item.is_active {
  background: var(--gray-800);
  color: var(--gray-000);
}

// Document Tab

@charset "UTF-8";
.document_table {
  padding: 0 16px;
}
@media screen and (max-width: 1023px) {
  .document_table {
    padding: 0 8px;
  }
}
.document_table .thead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.34;
  font-weight: 600;
  color: var(--gray-600);
}
@media screen and (max-width: 1023px) {
  .document_table .thead {
    padding-right: 0;
    padding-left: 0;
    font-size: 0.8rem;
    line-height: 1;
  }
}
.document_table .tbody_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
.document_table .tbody_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  font-size: 1.4rem;
  line-height: 1.58;
  font-weight: 500;
  color: var(--gray-800);
  word-break: break-all;
  border-radius: 4px;
}
@media screen and (max-width: 1023px) {
  .document_table .tbody_item:not(:first-of-type) {
    margin-top: 24px;
  }
}
.document_table .tbody_item:hover {
  background-color: var(--gray-100);
}
.document_table .tbody_item .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.document_table .tbody_item .link.is_active {
  background-color: var(--gray-100);
}
@media screen and (max-width: 1023px) {
  .document_table .tbody_item .link {
    display: grid;
    grid-template-areas: 'item1 item1 item1 item1 item3' 'item1 item1 item1 item1 item4' 'item2 item2 item2 item2 item4';
  }
}
.document_table .td,
.document_table .th {
  padding: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.document_table .td + .td,
.document_table .td + .th,
.document_table .th + .td,
.document_table .th + .th {
  margin-left: 24px;
  text-align: right;
}
@media screen and (max-width: 1023px) {
  .document_table .td + .td,
  .document_table .td + .th,
  .document_table .th + .td,
  .document_table .th + .th {
    margin-left: 0;
  }
}
.document_table .td:first-child,
.document_table .th:first-child {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
@media screen and (max-width: 1023px) {
  .document_table .td:first-child,
  .document_table .th:first-child {
    padding-left: 0;
  }
}
@media screen and (max-width: 1023px) {
  .document_table .td.connections,
  .document_table .th.connections {
    padding-right: 0;
  }
}
@media screen and (max-width: 1023px) {
  .document_table .td.select,
  .document_table .th.select {
    width: 34px;
    margin-left: 16px;
    text-align: right;
  }
}
@media screen and (max-width: 1023px) {
  .document_table .th:not(.select) {
    width: 50%;
  }
}
@media screen and (max-width: 1023px) {
  .document_table .th.size,
  .document_table .th.updated {
    display: none;
  }
}
.document_table .th.select {
  padding: 16px 0;
}
@media screen and (max-width: 1023px) {
  .document_table .td:not(.select) {
    width: auto;
    padding: 0;
  }
}
@media screen and (max-width: 1023px) {
  .document_table .td.id {
    padding-right: 16px;
    grid-area: item1;
  }
}
@media screen and (max-width: 1023px) {
  .document_table .td.updated {
    grid-area: item2;
    text-align: left;
  }
}
@media screen and (max-width: 1023px) {
  .document_table .td.connections {
    grid-area: item3;
  }
}
@media screen and (max-width: 1023px) {
  .document_table .td.size {
    grid-area: item4;
  }
}
@media screen and (max-width: 1023px) {
  .document_table .td.size,
  .document_table .td.updated {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    padding-top: 3px;
    font-size: 1.2rem;
    line-height: 1.34;
    font-weight: 400;
    color: var(--gray-600);
  }
}
@media screen and (max-width: 1023px) {
  .document_table .td.select {
    padding-top: 10px;
  }
}
.document_table .size,
.document_table .updated {
  padding-left: 12px;
  width: 120px;
}
.document_table .connections {
  width: 280px;
}
.document_table .select {
  text-align: center;
  width: 72px;
  margin-left: 24px;
  padding: 16px 0;
}
@media screen and (max-width: 1023px) {
  .document_table .select {
    padding: 0;
  }
}
.document_table .select .count {
  display: none;
}
.document_table .select .btn_all_check {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.34;
  font-weight: 600;
  color: var(--blue-dark);
}
@media screen and (max-width: 1023px) {
  .document_table .select .btn_all_check {
    font-size: 0.8rem;
    line-height: 1;
    font-weight: 500;
  }
}
.is_edit .td:not(.id, .updated, .select),
.is_edit .th:not(.id, .updated, .select) {
  display: none;
}
